body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #ffe9e7;
    color: #f4badb;
}
#header{
    
    color: white;
    padding: 10px;
    text-align: center;

}
#myname{
    			/* font settings*/
                font-size: 40px;
                font-family: monospace;
                font-stretch: 20px;
                
                /* color settings*/
                color: white;
                background-color: #ffb0b5;
      
              /* margin settings*/
                margin-bottom: 0px;	 
                
              /* align settings*/
      
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                   
                
               /*dimensions*/
               height: 90px;
              border-top-left-radius: 70%;
              border-top-right-radius: 70%;
              
               border-width: 0px;
}
#info{
    		/* font settings*/
            font-size: 15px;
            font-family: monospace;
            
            /* color settings*/
            color: white;
            background-color: #ffc6ca;
  
          /* margin settings*/
            margin-top: 0px;
            margin-bottom: 0px;	 
            
          /* align settings*/
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
  
            
           /*dimensions*/
           height: 60px;		
}
table{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
#contentBox{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffd3d6;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid white;
    width: 25vw;
}
#resumeBox{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffd3d6;
  color: white;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid white;
  width: 85%;
}
#contentTitle{
  display: flex;
  justify-content: center;
  background-color: #ffd3d6;
  align-items: center;
  text-align: center;
  color: rgb(132, 25, 68);
  border: 0px;
  width: 25vw;
}
#contentPic{
  display: flex;
  justify-content: center;
  background-color: #ffd3d6;
  align-items: center;
  text-align: center;
  border: 0px;
  width: 25vw;
}
#Title{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    margin-left: 45px;
    color: #9c2653;
    background-color: #ffd3d6;
    width: fit-content;
    border-radius: 40%;
    padding: 15px;
}
#me{
  width: 50%;
  border-radius: 10%;
}
#blurb{
    font-size: 20px;
    margin: 10px;
    color: #a9185c;
    width: 80%;
    align-content: justify;
    text-align: justify;
}
#HomePage, #About, #Contact, #Portfolio, #Projects, #softwareProjects, #hardwareProjects, #Art, #Photography, #resume {
  display: none;
}
#navbar{
  color: white;
  background-color: #fbb9cf;
  padding : 10px;
  border-bottom-right-radius: 70%;
  border-bottom-left-radius: 70%;
  
}
#nav{
  background-color: #b75a9a;
  color: white;
  padding: 10px;
  border-radius: 30%;
  border-width: 0px;
}
#Contact{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #a9185c;

}
#submit{
  background-color: #f47ec9;
  color: rgb(12, 57, 12);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border-color: #ce218f;
  border-radius: 10px;
}
textarea{
  width: 400px;
  height: 200px;
}
input{
  width: 400px;
  height: 30px;
}
